@page
@model razor_gpa_web_app.Pages.Papers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Paper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paper.PaperID" />
            <div class="form-group">
                <label asp-for="Paper.SemesterID" class="control-label"></label>
                <select asp-for="Paper.SemesterID" class="form-control" asp-items="ViewBag.SemesterID"></select>
                <span asp-validation-for="Paper.SemesterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.DegreeID" class="control-label"></label>
                <select asp-for="Paper.DegreeID" class="form-control" asp-items="ViewBag.DegreeID"></select>
                <span asp-validation-for="Paper.DegreeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.StudentID" class="control-label"></label>
                <select asp-for="Paper.StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="Paper.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.SubjectModuleID" class="control-label"></label>
                <select asp-for="Paper.SubjectModuleID" class="form-control" asp-items="ViewBag.SubjectModuleID"></select>
                <span asp-validation-for="Paper.SubjectModuleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper.GradeID" class="control-label"></label>
                <select asp-for="Paper.GradeID" class="form-control" asp-items="ViewBag.GradeID"></select>
                <span asp-validation-for="Paper.GradeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
