@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img width="425" height="340" src="/img/kdu-logo.png" />
    <h1 class="display-4">Welcome</h1>
    <p>
        to KDU GPA Management System.
    </p>
    <div>
        @if (@Model._signInManager.IsSignedIn(User) && User.IsInRole(razor_gpa_web_app.Utility.SD.StudentEndUser))
        {
            <a href="/GetSingleGPAs/GetStudentGPAs" >
                <input class="btn btn-primary" type="button" value="Go to your GPA">
            </a>
        }
    </div>
    <div>
        @if (@Model._signInManager.IsSignedIn(User) && User.IsInRole(razor_gpa_web_app.Utility.SD.HODEndUser))
        {
            <a href="/GetAllGPAs/GetSGPAs">
                <input class="btn btn-primary" type="button" value="See how you student doing !">
            </a>
        }
    </div>
    <div>
        @if (@Model._signInManager.IsSignedIn(User) && User.IsInRole(razor_gpa_web_app.Utility.SD.AdminEndUser))
        {
            <a href="/UserModels/Index">
                <input class="btn btn-primary" type="button" value="Start Managing">
            </a>
        }
    </div>
    <div>
        @if (@Model._signInManager.IsSignedIn(User) && User.IsInRole(razor_gpa_web_app.Utility.SD.StaffEndUser))
        {
            <a href="/UserModels/Index">
                <input class="btn btn-primary" type="button" value="Start Managing">
            </a>
        }
    </div>
</div>
