
@page
@model razor_gpa_web_app.Pages.GenerateSGPA.IndexModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>Hi</h1>
    <div class="col-md-12">
        <div></div>
            <h1>@Model.spgpaForSem01</h1>
        <div></div>
    </div>
</div>